.doc-group-table-card__header {
  padding: 6px 10px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafb;
  // background-color: #f4f5f7;
  // background-color: #e9ecef80;
  h2 {
    color: var(--blue);
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0;
  }
}
