article#user-auth-form-card {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  width: 100%;
  button.return-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50px;
    background-color: #e1e1e1;
    svg {
      color: #676767;
      width: 68%;
      height: 68%;
    }
  }

  .form-outer-wrapper {
    position: relative;
    background-color: #fff;
    backdrop-filter: blur(3px);
    box-shadow: 0px 2px 4px 1px #0000001c;
    width: 100%;
    // max-width: 560px;
    border-radius: 8px;
    padding: 30px;
    max-width: 480px;
    // margin: 10px 0;

    .form__header {
      position: relative;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      // padding-top: 14px;
      .form-header-title-container {
        position: relative;
        padding-top: 25px;
        h1 {
          font-family: var(--jost);
          color: #3a3a3a;
          // color: #235685;
          font-weight: 800;
          font-size: 28px;
          line-height: 2.5rem;
          text-align: center;
          // font-size: 28px;
          // line-height: 2rem;
        }

        p {
          text-align: center;
          color: #707070;
          font-size: 15px;
          line-height: 24px;
          // margin-top: 8px;
          margin-bottom: 15px;
          span {
            font-weight: bold;
          }
        }
      }
    }

    .alt-login-button {
      padding: 5px;
      transition: inherit;
      font-weight: 500;
      font-size: 0.75rem;
      &:hover {
        background-color: #ffffff !important;
        text-decoration: underline;
        color: rgb(61, 61, 61);
      }

      &#password-reset {
      }
    }

    .form__body {
      padding-top: 10px;
      // padding: 10px 0;
      // max-width: 480px;
      margin: 0 auto;

      .alt-login-container {
        position: relative;
        // margin: 30px;
        // padding-top: 30px;
        .alt-login-divider {
          border-top: 1px solid #cecece;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 40px 10px;
          .label {
            background-color: white;
            // width: 50px;
            padding: 0 12px;
            height: 30px;
            font-size: 0.75rem;
            position: absolute;
            color: #7f7c7c;
            display: flex;
            align-items: center;
            font-weight: 600;
            justify-content: center;
          }
        }

        .alt-login-buttons-container {
          // display: flex;
          #magic-link {
            max-width: 210px;
            border-radius: 4px;
            margin: 0 auto;
            .icon-wrapper {
              width: 16px;
              height: 16px;
              margin-left: 6px;
            }
          }
        }
      }
    }

    .form__buttons {
      // margin-top: 30px;
      .reset-buttons-container {
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
        .MuiTypography-root {
          font-size: 12.8px;
          line-height: 12px;
          margin-left: -5px;
        }
      }
      #submit {
        background-color: #235685;
        width: 100%;
        font-size: 15px;
        // max-width: 400px;
        // margin: 0 auto;
        padding: 18px;
        color: #ffffff;
      }

      .existing-user-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
        button {
          margin-left: -5px;
        }
      }
    }
    .underline-ghost-button {
      background-color: transparent;
      color: #235685;
      text-decoration: underline;
    }
  }
}
