.nav-link-group {
  // padding: 10px 0;
  padding: 10px 0;
  color: #ffffffbe;

  h3.nav-link-group-title {
    padding: 0 10px;
    color: #ffffff;
    font-size: 0.75rem;
  }
  .MuiListItemIcon-root {
    min-width: 22px;
  }
  svg {
    fill: #ffffffbe;
  }
}
