.fixed-banner {
  position: fixed !important;
  margin-top: 16px;
  -webkit-box-shadow: 0 0 5px 0px #0000000f, 0 0 5px 0px #00000021, 0px -4px 15px 0px #00000030;
          box-shadow: 0 0 5px 0px #0000000f, 0 0 5px 0px #00000021, 0px -4px 15px 0px #00000030;
  background-color: #ffffff;
  font-size: 0.9rem;
  bottom: 0px;
  left: 10px;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  z-index: 1111111111;
  opacity: 1;
}

.fixed-banner .tool-bar-inner-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fixed-banner .tool-bar-inner-wrapper #save-changes {
  margin-left: 40px;
  background-color: #4da177;
  color: #ffffff;
  border-color: #4da177;
}

.fixed-banner .tool-bar-inner-wrapper .unsaved-changed-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fixed-banner .tool-bar-inner-wrapper .num-items-selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26px;
  height: 26px;
  margin: 0 5px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fce4d1;
  color: #ed6c02;
  font-weight: 600;
}

.fixed-banner .tool-bar-inner-wrapper .num-items-selected .value {
  font-weight: bold;
}

.fixed-banner.active {
  -webkit-animation: fadeOut 2s linear forwards;
          animation: fadeOut 2s linear forwards;
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}

.fixed-banner .button-wrapper button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--blue);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: absolute;
  top: 5px;
  right: 5px;
}

.fixed-banner .button-wrapper button.btn-blue {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

.fixed-banner .button-wrapper button svg {
  height: 20px;
  width: 20px;
  margin: 5px;
}

.fixed-banner .button-wrapper#close {
  height: 100%;
  border-left: 1px solid gainsboro;
}

.fixed-banner .button-wrapper#close button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24px;
  width: 24px;
  padding: 2px;
}

.fixed-banner .button-wrapper#close button svg {
  color: var(--gray);
  height: 24px;
  width: 24px;
}
/*# sourceMappingURL=FixedBanner.css.map */