header.app-header {
  position: relative;
  // height: 100px;
  // box-shadow: var(--bs);
  z-index: 11;
  &.blue {
    background-image: linear-gradient(
      45deg,
      #285b8a 0%,
      #21517d 33%,
      #235380 50%,
      #25537e 67%,
      #2d577c 100%
    );
    color: #ffffff;
    fill: #ffffff;
  }

  &.white {
    background-color: #ffffff;
    // background-image: linear-gradient(
    //   45deg,
    //   #285b8a 0%,
    //   #21517d 33%,
    //   #235380 50%,
    //   #25537e 67%,
    //   #2d577c 100%
    // );
    // color: #1c456a;
    fill: #1c456a;
  }

  display: flex;
  align-items: center;
  flex-direction: column;
  // padding-right: 15px;
}
