.global-search-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  // justify-content: flex-start;
  align-items: center;
  flex-basis: 820px;
  flex-grow: 0;
  // max-width: 820px;
  // flex-direction: column;
  // margin: 0 auto;
  margin: 10px 0;
  flex-shrink: 1;
  // margin: 10px auto;
  // flex-wrap: wrap;
  .currently-showing {
    font-size: 0.7rem;
    text-align: center;
    padding: 10px;
    display: block;
    white-space: nowrap;
    opacity: 0.8;
    // padding-bottom: 15px;
  }
  .MuiOutlinedInput-root {
    font-weight: 700;
    border-radius: 50px;
    border: 1px solid #cdced3 !important;
    // border: 1px solid #dddee2 !important;
    // padding: 8px 15px;
    padding: 0px 14px !important;
    // padding: 10.5px 14px !important;
    background: #ffffff !important;
    // background: #f5f6fa !important;
    svg {
      width: 1rem;
      height: 1rem;
      opacity: 0.8;
    }
  }
  fieldset {
    display: none;
  }
  #global-search {
    padding: 10.5px 0 !important;
  }
  // input {
  //   font-weight: 700;
  //   width: 100%;
  //   /* max-width: 90%; */
  //   border-radius: 50px;
  //   border: 1px solid #dddee2;
  //   padding: 8px 15px;
  //   background: #f5f6fa;
  //   &::placeholder {
  //     color: var(--gray);
  //     opacity: 0.5;
  //   }
  // }
}
